
<div class="p-5">
<h1> Edit <span class='text-primary'><%= @club.name %>'s</span> details </h1>

<%= render :partial => 'form' %>

<%= link_to "Delete Club", @club, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger mt-5 ms-5' %>

</div>