
<div  class='d-flex align-items-center'>
    <h1 class='h1 m-4'>Premier League Clubs</h1>
<% if @current_user.present? && @current_user.admin? %>
<%= link_to "Add Club", new_club_path, :class => 'btn btn-primary ml-auto' %>
<% end%>
</div>

     

<% @clubs.each do |club|%>
<ul>
    <li> <%= link_to club.name, club_path(club.id) %> </li>
</ul>

<% end%>


