
<div class='p-5'>

    <div  class='d-flex align-items-center mb-3'>
        <h1 class=''>Premier League Clubs</h1>
        <% if @current_user.present? && @current_user.admin? %>
        <%= link_to "Add Club", new_club_path, :class => 'btn btn-primary ms-4' %>
        <% end%>
    </div>

     
    <div>
        <% @clubs.each do |club|%>
        <ul>
            <li class='mb-2'> <%= link_to club.name, club_path(club.id), :class => 'text-decoration-none' %> </li>
        </ul>
        <% end%>
    </div>
</div>
