
<div>
<h1 class='p-5'> Edit <span class='text-primary'> <%= @national_team.name %> </span> details </h1>

<%= render :partial => 'form' %>

<%= link_to "Delete Team", @national_team, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger mt-5 ms-5 ' %>
</div>
