


<div class=' container-sm p-5 '>

<h1 class='mb-5 '>OneFootball.com</h1>

<div class='d-flex justify-content-center p-5 border border-white shadow'>

<h4><%= link_to "Sign Up!", new_user_path, :class => 'btn btn-success ps-4 pe-4 shadow-sm' %> <span class='h5 m-5 '> Or </span></h4>

<h4><%= link_to "Sign In!",  login_path, :class => 'btn btn-primary ps-4 pe-4' %> </h4>

</div>

</div>
<%# users_path%>