<h1>Everything Everywhere all about Football</h1>




<%# <>h1 login %>
<%# form_tag login_path do %><%#when they login I wan ta POST requset # no form helper for form tag%>
    <%# label_tag :email %>
    <%# email_field_tag :email %>

    <%# label_tag :password %>
    <%# password_field_tag :password %>

    <%# submit_tag "Sign In" %>
<%# end%>

<p>
<%= link_to "Sign UP!", new_user_path %> Or 
</p>

<p>
<%= link_to "Sign In!", login_path %>
</p>