<h1>Edit Player</h1>

<%= render :partial => 'form' %>

<div>
<%= link_to "Delete Player", @player, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger mt-5 ms-4' %>
</div>
